<h1>List Products</h1>

  <div class="table-responsive"  >
	<a class="btn btn-primary mb-3" routerLink="/admin/product/add" role="button">Add</a>
	<table class="table table-hover table-rounded table-striped border gy-7 gs-7">
		<thead>
			<tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
				<th>Id</th>
				<th>Name</th>
				<th>Img</th>
				<th>Price</th>
				<th>test cate</th>
				<th>Add</th>
                <th>Edit</th>			
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of productList">
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.img}}</td>
                <td>{{product.price}}</td>
				<td>{{product.ProductCateID}}</td>
				<td> <button class="btn btn-danger" (click)="removeItem(product.id!)">Xóa</button></td>
				<td><a class="btn btn-primary " routerLink="{{product.id}}/edit" aria-disabled="true">Edit</a></td>
			</tr>
		</tbody>
	</table>
	
</div>


<!-- <div  *ngIf="productList.length == 0">
    <h1 class="warning-error d-flex justify-content-center">Không có dữ liệu!!!</h1>
    <a class="btn btn-outline-success mt-3 d-flex justify-content-center p-0" routerLink="/admin/product/add" role="button">Add thêm Product</a>
    
</div> -->